@font-face {
  font-family: "Ocrf";
  src: url("./ocrf-regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6em;
  font-size: 20px;
  padding: 1em;
  font-family: Ocrf, Serif;
  background-color: #f9f9f9;
}

header {
  border-bottom: 2px solid #000;
}
header:after {
    content:'';
    display:block;
    clear: both;
}

header img {
  height: 2em;
  display: inline-block;
}

/* button is JS generated */
header > button {
  display: block;
  width: 40px;
  height: 40px;
  background: transparent url('../images/hamburger-nav.svg');
  background-size: cover;
  border: 0;
  float: right;
  cursor: pointer;
}

header nav {
  max-height: 999px;
  overflow: hidden;
  transition: max-height .5s;
  display: inherit;
  height: inherit;
}
/* .collapsed and .init are JS generated */
header nav.init {
  height: 0;
}
header nav.collapsed {
  max-height: 0;
}

/* markdown p autotag */
nav > p {
  margin: 0;
}

nav a {
  display: block;
  padding: .5em 2em;
  border-bottom: 1px solid #000;
  color: inherit;
  font-weight: bold;
  font-size: .9em;
  border-right: 10px solid #000;
}
nav a:last-child {
  border-bottom: none;
}

main {
  padding: .2em;
}

article a {
  color: inherit;
}
