body {
  padding: 0;
  background-color: #999;
}

header {
  position: fixed;
  width: 100%;
  padding: 1em 1em 0 1em;
}
header nav.init.collapsed {
  height: inherit;
  max-height: inherit;
}
header button {
  display: none;
}

nav {
  font-weight: 500;
  padding-bottom: .5em;
}
nav a {
  border-left: 0;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: inherit;
  border-bottom: 5px solid;
  text-transform: uppercase;
  margin-right: 1em;
  line-height: 1.3em;
}
nav a:last-child {
  border-bottom-width: 5px;
}

main {
  padding: 100px 1em 1em 1em;
}
